:root {
  --standard-padding: 10px;
  --border-standard: 1px solid;
  --border-radii: 5px;
  --border-colour: rgb(2, 69, 136);
  --border-colour-active: rgb(20, 100, 216);
  --button-background-colour: rgb(20, 100, 216);
  --button-hover: rgb(21, 119, 216);
  --menu-background-colour: rgba(29, 52, 99);
  --section-background-colour: rgb(16, 41, 69);
  --section-background-colour-selected: rgb(2, 69, 136);
  --table-header-colour: rgb(0, 153, 255);
  --table-alternate-row: rgb(7, 64, 102);
  --dropdown-min-width: 105px;
  --white-faded: rgba(255, 255, 255, 0.3);
  --navbar-min-width: 50px;
  --small-icon-size: 24px;
  --color-physical: #acabab;
  --color-fire: #e83e3e;
  --color-ice: #1fb6d1;
  --color-wind: #3cc088;
  --color-lighting: #bb4cd3;
  --color-quantum: #736ae6;
  --color-imaginary: #d6c146;
  interpolate-size: allow-keywords;
}

#root {
  height: 100%;
}

fieldset {
  border: none;
  margin: 0px;
  padding: var(--standard-padding);
}

mark {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
}

select {
  color: inherit;
  background-color: var(--transparent);
  border: var(--border-standard);
  border-color: var(--white-faded);
  border-radius: var(--border-radii);
  transition: 0.1s ease-in-out;

  &:hover{
    border-color: var(--border-colour);
  };
}

.div-text-summary {
  padding: var(--standard-padding);
}

.container {
  height: 100%;
  display:grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px auto 40px;
  grid-template-areas:
    "m h"
    "m c"
    "m f";
  justify-content: start;
}

.header{
  grid-area: h;
  background-color: rgb(3, 17, 31);
  padding: 5px;
  border-bottom: var(--border-standard);
  border-color: var(--border-colour);
}

.header-container {
  display: flex;
  min-height: fit-content;
  align-items: center;

  label {
    color: white;
    padding: 5px;
    font-size: 24px;
    text-decoration: none;
  }

  a {
    color: white;
    padding: 5px;
    font-size: 24px;
    text-decoration: none;
  }
}

.footer{
  grid-area: f;
  justify-self: center;
  align-self: flex-end;
}

.content-container {
  grid-area: c;
}

.content {
  height: fit-content;
  margin: 10px 0px 10px 10px;
  padding: var(--standard-padding);
  background-color: var(--section-background-colour);
  border: var(--border-standard);
  border-color: var(--border-colour);
  border-radius: var(--border-radii);

  h2 {
    margin: 0px;
    text-align: center;
  }
}

.test {
  height:fit-content;
  margin: 10px 0px 10px 10px;
  padding: var(--standard-padding);
  background-color: var(--section-background-colour);
  border: var(--border-standard);
  border-color: var(--border-colour);
  border-radius: var(--border-radii);
}

.homepage-container{
  padding: var(--standard-padding);
  display:flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 50%;
  gap: var(--standard-padding);
}

.card-container{
  border: var(--border-standard);
  border-color: var(--border-colour);
  border-radius: 10px;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0 , 0, 0);
  }

  a {
    color:inherit
  }

  span {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  label {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;

    &:hover {
      cursor: pointer;
    }
  }
}

.table-container{
  max-width: 1000px;
  max-height: 500px;
  overflow-y: auto;
}

table{
  border: var(--border-standard);
  border-color: var(--border-colour);
  border-collapse: collapse;
  width: 100%;

  span {
    display: inline-flex;
  }
}

.table-div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-evenly;
}

.calc-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: 
    "a b c"
    "a output c";
  /*background-color: red;*/
  width:fit-content;
  padding-right: var(--standard-padding);
  margin-left: var(--standard-padding);
  margin-top: var(--standard-padding);
  background-color: var(--section-background-colour);
  border: var(--border-standard);
  border-color: var(--border-colour);
  border-radius: var(--border-radii);
}

.calc-content-column-a{
  grid-area:a;
  min-width: 380px;
}

.calc-content-column-b{
  grid-area:b;
  min-width: 380px;
  width: fit-content;
}

.calc-content-column-c{
  grid-area:c;
}

.flex-column-container{
  display:flex;
  flex-direction: column;
  flex: 100%;
  height: 100%;
}

.max-width-column {
  max-width: 450px;
}

.calc-content-column-b-output{
  grid-area: output;
}

.content-form{
  padding: var(--standard-padding);
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "label input";
  min-height: 30px;
  align-content: center;
}

.content-label{
  grid-area: label;
  display:flex; 
  align-items: center;
}

.content-radio {
  position: relative;
  height: 36px;
  width: 36px;
  display:flex;

  input{
    position: absolute;
    cursor: pointer;
    margin: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
  }

  .radio-tile{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-color: var(--border-colour);
    transition: 0.3s ease-in-out;
  }

  /*top-left, top-right, bottom-right, bottom-left*/
  .start {
    border-radius: 5px 0px 0px 5px;
  }

  .end {
    border-radius: 0px 5px 5px 0px;
  }
}

.content-radio-group{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-icon{
  height: var(--small-icon-size);
  width: var(--small-icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-input{
  grid-area: input;
  justify-self: right;
  
  button {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    background-color: transparent;
    width: auto-content;
    min-width: var(--dropdown-min-width);
    transition: 0.1s ease-in-out;
    border: var(--border-standard);
    border-color: var(--white-faded);
    border-radius: var(--border-radii);
  }

  input {
    color: inherit;
    background-color: transparent;
    width: 100px;
    transition: 0.1s ease-in-out;
    border: var(--border-standard);
    border-color: var(--white-faded);
    border-radius: var(--border-radii);
  }

  button:hover, input:hover{
    border-color: var(--border-colour);
  }
}

.content-output{
  justify-self: center;
}

.content-button{
  display:flex;
  justify-content: center;
  margin-right: 10px;
}

.content-button button {
  color: inherit;
  background-color: var(--button-background-colour);
  font-size: 18px;
  border: var(--border-standard);
  border-radius: var(--border-radii);
  border-color: var(--border-colour);
  padding: var(--standard-padding);
  margin: 0px 5px;
  transition: 0.1s;

  &:hover {
    background-color: var(--button-hover);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

input:checked + .radio-tile {
  background-color: var(--border-colour);
  border-color: var(--border-colour-active);
}

input:hover + .radio-tile {
  background-color: var(--border-colour);
  border-color: var(--border-colour-active);
}

.input-select {
  display: flex;
  position: relative;
  justify-content: end;
  select {
    width: 106px;
  }
}

.select-items {
  background-color: var(--menu-background-colour);
}

.checkbox-div{
  padding-left: 10px;
}

.chart-container {
  display:flex;
}

/*chart stuff*/
.chart-legend-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.chart-legend-label {
  display: flex;
  padding: var(--standard-padding);
  gap: 5px;
}

.header-label-container {
  display: flex;
  padding: var(--standard-padding);
  gap: var(--standard-padding);
  align-items: center;
}

.filter-options-container {
  margin-left: auto;
}

/*log lines stuff*/
.log-line {
  display: flex;
}

.log-cycle-container {
  padding: var(--standard-padding);
  border-top: var(--border-standard);
  border-color: var(--border-colour);
  
  label {
    font-weight: bold;
  }

  button{
    background-color: var(--transparent);
    border: none;
    
    /*&:hover {
      background-color: var(--button-hover);
    }*/
  }

  .log-cycle-expandable {
    display: flex;
  }

  .log-cycle-label {
    flex: 9;
  }

  /*.log-cycle-expandable-icon {
    flex: 1;
  }*/

  .log-line-timestamp {
    flex: 1;
    text-align: right;
    padding: var(--standard-padding);
  }

  .log-line-action {
    flex: 9;
    padding: var(--standard-padding);
  }
}


.input-container{
  border: var(--border-standard);
  border-radius: var(--border-radii);
  border-color: var(--border-colour);
  margin: 2px 0px;
}

.input-container-icon-bar{
  display:flex;
  justify-content: flex-end;
  height:36px;
  button{
    background-color: var(--transparent);
    border:none;

    /*&:hover {
      background-color: var(--button-hover);
    }*/
  }
}

.input-container-icon-bar-title{
  width:100%;
  padding: 5px;
  input {
    color: inherit;
    width:95%;
    background-color: transparent;
    transition: 0.1s ease-in-out;
    border: var(--border-standard);
    border-color: var(--white-faded);
    border-radius: var(--border-radii);
    padding:5px;
  }

  input:hover{
    border-color: var(--border-colour);
  }
}

.input-container-minimise{
  visibility: hidden;
  max-height: 0;
}

/*navbar stuff*/
.navbar {
  background-color: var(--section-background-colour);
  grid-area: m;
  border-right: var(--border-standard);
  border-color: var(--border-colour);
  transition: 0.1s ease-in-out;

  img {
    width: var(--small-icon-size);
    height: var(--small-icon-size);
  }
}

.navbar-control{
  display:flex;
  justify-content: flex-end;
  height: 50px;
}

.navbar button{
  width:var(--navbar-min-width);
  border: none;
  background-color: var(--transparent);

  &:hover {
    border: var(--border-standard);
    border-color: var(--border-colour);
    background-color: var(--button-hover)
  }
}

.navbar-menu-header{
  display:flex;
  gap: 5px;
  justify-content: flex-end;
  padding:10px 0px 10px 10px;

  .arrow-icon {
    height:100%;
  }

  label{
    margin-right: auto;
    align-content: center;
  }

  img {
    /*height: var(--small-icon-size);
    width: var(--small-icon-size);*/
    border-radius: var(--border-radii);
    /*margin-right:5px;*/
  }
}

.navbar-submenu {
  background-color: var(--menu-background-colour);
  /*transition: 0.2s ease;*/
}

.navbar ul{
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
  /*padding: 5px;*/

  li {
    padding: 5px;
  }
  /*li + li {
    margin-top: 5px;
  }*/
}

.navbar a{
  color: inherit;
  display: flex;
  align-self: center;
  padding: var(--standard-padding);
  text-decoration: none;
  transition: 0.2s ease-in-out;

  &:hover {
    border-right: 5px solid;
    border-color: white;
    border-radius: var(--border-radii);
    background-color: var(--white-faded);
  }
}

.navbar a.active{
  color: white;
  border-right: 5px solid;
  background-color: var(--section-background-colour-selected);
  border-radius: var(--border-radii);
  border-color: inherit;
}

/*dropdown stuff*/
.menu-container{
  position:absolute;
  background-color: var(--menu-background-colour);
  width:var(--dropdown-min-width);

  ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 0px;
    border: var(--border-standard);
    border-color: var(--border-colour);
    border-radius: var(--border-radii);

    li{
      padding:5px;
      margin:2px;
    }

    li:hover{
      background-color:var(--button-hover);
      border-radius: var(--border-radii);
    }
  }
}

.dropdown-active{
  background-color:var(--section-background-colour);
  border-radius: var(--border-radii);
}